* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 11px;
}

.calc {
    width: 380px;
    background: #000;
    border-radius: 15px;
    padding: 15px;
}

#display {
    background-color: #000;
    color: #fff;
    text-align: right;
    font-size: 40px;
    padding: 15px 5px;
    height: 70px;
}


.table {
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}

td {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: #3a3a3a;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.operator {
    background: #f5a000;
    color: #fff;
    font-weight: bold;
}

#equals {
    background: #56c77a;
    color: #fff;
    font-weight: bold;
}

#on {
    background: #895151;
    color: #111;
    font-weight: bold;
}

#on:hover {
    background-color: #846060;
    color: #fff;
}

#clear {
    background: #f5a000;
    color: #111;
    font-weight: bold;
}

#clear:hover {
    background-color: #a59139;
    color: #111;
}

#percentage {
    background: #f5a000;
    color: #111;
    font-weight: bold;
}

#percentage:hover {
    background-color: #a59139;
    color: #111;
}

td:hover {
    background-color: #fff;
    color: #111;
}